/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer, main, nav, aside, section, article {
    display: block;
}

/*  end of css reset */

/* globals */

html, body {
    height: 100%;
}


body {
    direction: rtl;
    background: #eee;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#wrapper {
    width: 1000px;
    max-width: 100%;
    /*min-height: 100%;*/
    position: relative;
    margin: 0 auto;
    background: #fff;
}

h2 {
    color: #0844a4;
    font-size: 150%;
    font-weight: normal;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    padding: 9.4%;
    margin-bottom: 6%;
}

h3 {
    font-size: 100%;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
}


/* end of globals */

#logo {
    width: 141px;
    height: 175px;
    background: url('../images/tasteLogo.png') no-repeat;
    float: right;
}

#login {
    width: 18.5%;
    margin-top: 11.4%;
    color: #929292;
    font-size: 110%;
    text-decoration: none;
    float: left;
}

main {
    width: 71.2%;
    float: left;
    position: relative;
    background: #fff;
    margin-left: 2%;
}

#mainNav ul{
    list-style: none;
}

#mainNav li {
    width: 33.18%;
    background: #ebebeb;
    border-bottom: 1px solid #d6d6d6;
    float: right;
    border-radius: 8px 8px 0 0;
    margin-left: 1px;
    text-align: center;
}

#mainNav li a {
    font-size: 120%;
    text-decoration: none;
    color: #606060;
    line-height: 2.5em;
}

#mainNav .selected {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    color: #000;
}

#mainNav .selected a {
    color: #000;
}

#gallery {
    margin-bottom: 2%;
    border: 1px solid #d6d6d6;
    border-top: none;
}

#gallery ul {
    list-style: none;
}

.thumbs {
    padding: 1.4% 3.6%;
}

#gallery li {
    float: right;
    text-align: center;
    margin-left: 1.7%;
}

#gallery li:last-of-type {
    margin-left: 0;
}

#gallery li a {
    text-decoration: none;
    display: block;
}

#gallery li h4 {
    color: rgb(96,96,96);
    font-size: 110%;
    font-weight: normal;
}

#feed {
    background: #fff;
    margin-bottom: 1.4%;
}

#feed section {
    border-radius: 4px;
    background: #e6e6e6;
}

#weeklyRecipe {
    width: 69.34%;
    padding: 1.3% 1.3% 1.8% 1.3%;
    float: left;
    background: #e6e6e6;
    border-radius: 4px;
}

#weeklyRecipe section {
    float: right;
    max-width: 179px;
}

#content {
    float: right;
    background: #fff;
    border-radius: 6px;
    padding: 2%;
}

#content p, h4 {
    font-size: 110%;
}

#content p {
    margin-top: 5%;
    margin-left: 6%;
}

#weeklyRecipe img{
    float: left;
}

#editor {
    font-weight: normal;
}

#editor a {
    text-decoration: none;
    color: #0c59cf;
}

#topWriters {
    min-width: 29.353%;
    background: #e6e6e6;
    float: right;
}

#topWriters section {
    padding: 4%;
}

#topWriters ol {
    list-style-position: inside;
    background: #fff;
    border-radius: 8px;
    padding: 2%;
}

#topWriters li a {
    text-decoration: none;
    color: rgb(61,138,247);
}

footer {
    width: 100%;
    background: #fff;
    margin-left: 2%;
}

footer ul {
    width: 100%;
    list-style: none;
    float: left;
    margin-bottom: 1%;
}

footer li {
    float: right;
}

footer li:last-of-type {
    float: left;
    margin-left: 1%;
}

footer a {
    text-decoration: none;
    color: #000;
    font-size: 80%;
}

.dash {
    font-size: 30%;
}

#copyright {
    font-size: 75%;
}

#tools {
    width: 24.3%;
    margin-right: 1.5%;
    float: right;
}

.btn {
    color: #606060;
    font-size: 200%;
    text-decoration: none;
    border-radius: 4px;
    display: block;
}

#addBtn {
    background: #d6d6d6;
    margin-left: 10.11%;
    margin-right: 2%;
    text-align: center;
    padding: 2% 0;
}

.plus{
    width:36px;
    height:36px;
    position:relative;
    background-color:#75ba61;
    border-radius:100px;
    border: 2px solid #fff;
    cursor:pointer;
    vertical-align: middle;
    margin-right: 5%;
}


.plus:before{
    content:"";
    background-color: #fff;
    height:22px;
    left:14px;
    position:absolute;
    top:5px;
    width:3px;
}

.plus:after {
    content:"";
    background-color: #fff;
    height:3px;
    left:5px;
    position:absolute;
    top:14px;
    width:22px;
}

.one:hover{
    background-color:rgba(0,0,0,.8);
}

.one:hover .two{
    display:none;
}

#searchBtn {
    background: #e6e6e6;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
}

#tools ul {
    list-style: none;
    margin-top: 5%;
}

#tools li {
    font-size: 150%;
}

#tools li::after {
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.48em;
    height: 0.48em;
    border-right: 0.16em solid black;
    border-top: 0.16em solid black;
    transform: rotate(225deg);
    border-color: rgb(230, 22, 16);
}

#tools li:hover {
    cursor: pointer;
}

/* Change color */
#tools li:hover h3{
    color: rgb(230, 22, 16); /* For the text */
}
#tools li:hover::after {
    border-color: red; /* For the arrow (which is a border) */
}

#tools h3 {
    display: inline-block;
    border-top: 1px dotted #CECBCB;
    color: #606060;
    width: 83%;
    padding: 5% 2% 5%;
}

#tools li:last-child h3 {
    border-bottom: 1px dotted #CECBCB;
}



