/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer, main, nav, aside, section, article {
    display: block;
}

/*  end of css reset */

/* globals */

body {
    direction: rtl;
    background: #fff;
    font-family: Arial;
    font-size: 100%;
    box-sizing: border-box;
}

#wrapper {
    width: 1000px;
    max-width: 100%;
    /*min-height: 100%;*/
    position: relative;
    margin: 0 auto;
    background: #fff;
}

header {
    height: 175px;
    width: 100%
}

h1 {
    font-size: 240%;
    font-weight: normal;
    color: rgb(68,68,68);
}

h2 {
    color: #0844a4;
    font-size: 1.2vw;
    font-weight: normal;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    padding: 12% 9.4%;
    margin-bottom: 6%;
}

h3 {
    font-size: 1.3vw;
    font-weight: normal;
}

h5 {
    font-size: 0.8vw;
    font-weight: normal;
    margin-bottom: 0.8%;
}

ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

input[type="text"], input[type="password"], textarea  {
    width: 100%;
    padding: 0 3%;
    line-height: 235%;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    font-size: 1vw;
    outline: none;
}

::-webkit-input-placeholder {
    color: rgb(192,192,192);
}

:-moz-placeholder {
    color: rgb(192,192,192);
}

:-ms-input-placeholder {
    color: rgb(192,192,192);
}

input[type="search"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="search"]:focus {
    outline: none;
}

/*label span {*/
    /*position:absolute;*/
    /*left:-10000px;*/
    /*top:auto;*/
    /*width:1px;*/
    /*height:1px;*/
    /*overflow:hidden;*/
/*}*/

.clear {
    clear: both;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* end of globals */

/* breadcrumbs */

#breadcrumbs {
    width: 100%;
    margin-bottom: 1.8%;
}

#breadcrumbs li {
    float: right;
}

#breadcrumbs a:after {
    content: "\003e";
    font-size: 0.8vw;
    margin: 0 5px;
}

#breadcrumbs li:last-of-type {
    font-weight: bold;
}

#breadcrumbs li:last-of-type a:after {
    content: "";
}

#breadcrumbs a {
    color: #000;
    text-decoration: none;
    font-size: 0.8vw;
}

/* end of breadcrumbs */

/* recipe thumb view */

.thumbs li {
    float: right;
    text-align: center;
    margin-left: 1.7%;
}

.thumbs li:last-of-type {
    margin-left: 0;
}

.thumbs li a {
    text-decoration: none;
    display: block;
}

.thumbs li h4 {
    color: rgb(96,96,96);
    font-size: 1vw;
    font-weight: normal;
}

.thumbs img {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.thumbs img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* end of recipe thumb view */

/* app header */

#logo {
    width: 33.3%;
    height: 100%;
    background: url('../images/tasteLogo.png') no-repeat right top;
    float: right;
}

#searchBox {
    width: 33.3%;
    height: 100%;
    float: right;
}

header input[type="search"] {
    width: 82%;
    margin-top: 31.7%;
    margin-right: 6%;
    padding: 3% 1%;
    border-radius: 12px;
    border: 1px solid #000;
    font-size: 1vw;
    float: right;
}


#login {
    width: 33.3%;
    height: 100%;
    padding-top: 11.7%;
    padding-left: 5%;
    color: #929292;
    font-size: 1vw;
    text-align: left;
    text-decoration: none;
    float: left;
}

/* end of app header */


/* loginPage */

/*#loginPage main {*/
    /*margin: 0 auto;*/
    /*float: none;*/
    /*position: static;*/
/*}*/

/*#loginPage form {*/
    /*width: 80%;*/
    /*margin: 5% auto;*/
/*}*/

/*#loginPage form label {*/
    /*display: block;*/
    /*margin-bottom: 3%;*/
    /*color: #414848;*/
/*}*/

/*#loginPage input[type="submit"] {*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*line-height: 235%;*/
    /*font-size: 1.5vw;*/
    /*text-indent: 0px;*/
    /*text-shadow: none;*/
    /*background: #1abc9c;*/
    /*border: 0;*/
    /*border-bottom: 2px solid #12ab8d;*/
    /*cursor: pointer;*/
    /*-webkit-box-shadow: inset 0 -2px #12ab8d;*/
    /*-moz-box-shadow: inset 0 -2px #12ab8d;*/
    /*box-shadow: inset 0 -2px #12ab8d;*/
/*}*/

/*#loginPage input[type="submit"]:hover {*/
    /*background: #1abc9c;*/
    /*color: #fff;*/
/*}*/

/*#loginPage input[type="submit"]:active {*/
    /*background: #12ab8d;*/
    /*color: #fff;*/
/*}*/

/*#loginPage input {*/
    /*width: 100%;*/
    /*font-weight: 400;*/
    /*font-size: 1.5vw;*/
    /*text-indent: 0.5vw;*/
    /*text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);*/
    /*background: #FFF;*/
    /*border: 1px solid #FFF;*/
    /*border-radius: 8px;*/
    /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);*/
    /*-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);*/
    /*-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);*/
/*}*/

/*#loginPage input:focus , textarea:focus, select:focus {*/
    /*background: #DFECE7;*/
    /*color: #414848;*/
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);*/
    /*-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);*/
    /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);*/
    /*outline: 0;*/
/*}*/

/*#loginPage input:hover {*/
    /*background: #DFECE7;*/
    /*color: #414848;*/
/*}*/

/*#loginPage input:-webkit-input-placeholder {*/
    /*color: #b5b5b5;*/
/*}*/

/* main page */

#mainNav li {
    width: 32.4%;
    background: #ebebeb;
    border-bottom: 1px solid #d6d6d6;
    float: right;
    border-radius: 8px 8px 0 0;
    margin-left: 1px;
    text-align: center;
}

#mainNav li:last-of-type {
    margin-left: 0;
}

#mainNav li a {
    font-size: 1vw;
    text-decoration: none;
    color: #606060;
    line-height: 2.5em;
}

#mainNav .selected {
    width: 34.8%;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    color: #000;
}

#mainNav .selected a {
    color: #000;
}

#gallery {
    margin-bottom: 1.8%;
    border: 1px solid #d6d6d6;
    border-top: none;
}

#gallery .thumbs {
    padding: 1.4% 3.6%;
}

#feed {
    background: #fff;
    margin-bottom: 1%;
}

#feed section {
    border-radius: 4px;
    background: #e6e6e6;
}

#weeklyRecipe {
    width: 70%;
    height: 209px;
    padding: 1.3% 1.3% 1.8% 1.3%;
    float: left;
    background: #e6e6e6;
    border-radius: 4px;
}

#weeklyRecipe section {
    width: 38%;
    float: right;
}

#weeklyRecipe picture {
    float: left;
}

#weeklyRecipe section#content {
    width: 100%;
    min-height: 95px;
    float: right;
    background: #fff;
    border-radius: 6px;
    padding: 2%;
}

#content p, h4 {
    font-size: 1vw;
}

#content p {
    margin-top: 6.8%;
    margin-left: 6%;
}

#editor {
    font-weight: normal;
}

#editor a {
    text-decoration: none;
    color: #0c59cf;
}

#topWriters {
    width: 29%;
    height: 209px;
    background: #e6e6e6;
    float: right;
    border-radius: 4px;
}

#topWriters section {
    padding: 4% 6% 4% 5%;
}

#topWriters ol {
    list-style-position: inside;
    background: #fff;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
}

#topWriters li a {
    text-decoration: none;
    color: rgb(61,138,247);
    font-size: 0.9vw;
}

/* end of main page */

/* app footer */

footer {
    background: #fff;
}

footer ul {
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

footer li {
    float: right;
}

footer li:last-of-type {
    float: left;
    margin-left: 1%;
}

footer a {
    text-decoration: none;
    color: #000;
    font-size: 0.6vw;
}

footer a:after {
    content: "–";
    font-size: 0.3vw;
    line-height: 79%;
    vertical-align: middle;
    margin: 0 3px;
}

footer li:nth-child(5) a:after , footer li:last-child a:after{
    content: "";
}

#copyright {
    font-size: 0.7vw;
}

/* end of app footer */

/* toolbar */

.btn {
    color: #606060;
    font-size: 1.5vw;
    text-decoration: none;
    border-radius: 4px;
    display: block;
    border: none;
}

#addBtn {
    background: #d6d6d6;
    margin-left: 10.11%;
    margin-right: 2%;
    text-align: center;
}

#addBtn:hover #plus_icon path {
    fill: #19B51F;
}

#plus_icon {
    width: 2vw;
    height: 2vw;
    margin-top: 3%;
    vertical-align: middle;
}

#plus_icon path  {
    fill: #0A960F;
}

.one:hover{
    background-color:rgba(0,0,0,.8);
}

.one:hover .two{
    display:none;
}

#searchBtn {
    width: 95%;
    line-height: 140%;
    background: #e6e6e6;
    text-align: center;
    margin-top: 6%;
    cursor: pointer;
}

input[type="submit"]:focus {
    outline: none;
}

#tools ul {
    margin-top: 5%;
}

#tools li {
    font-size: 150%;
    position: relative;
}

#tools li:last-child section {
    border-bottom: 1px dotted #CECBCB;
    width: 95%;
}

#tools li:hover {
    cursor: pointer;
}

#tools li:last-child:hover {
    cursor: auto;
}

#tools li:last-child h3:after {
    border: none;
}

#tools h3 {
    display: inline-block;
    border-top: 1px dotted #CECBCB;
    color: #606060;
    width: 80%;
    padding: 5% 2% 5% 0;
}

#tools h3::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: 20px;
    left: 14%;
    border-right: 0.16em solid rgb(230, 22, 16);
    border-top: 0.16em solid rgb(230, 22, 16);
}

.close h3::after {
    transform: rotate(225deg);
}

.open h3::after {
    transform: rotate(135deg);
}

#tools h3:hover::after {
    border-color: red;
}

#category-list a {
    background: #ebebeb;
    border-radius: 4px;
    text-decoration: none;
    padding: 1% 3%;
    font-size: 1vw;
    color: #7a7a7a;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 4%;
}

#category-list a:hover {
    background: rgb(146, 146, 146);
    color: #fff;
}

#category-list a.selected {
    background: rgb(146, 146, 146);
    color: #fff;
}

#searchMenu input[type="text"] {

}

/* end of toolbar */

/*  recipe single page */

main#recipe-page {
    margin-left: 0%;
}

.recipe_title, input[type="text"].recipe_title {
    margin-bottom: 7%;
    font-size: 1.3vw;
    line-height: 150%;
}

.recipe_image {
    float: left;
    width: 276px;
    height: 185px;
}

#edit_recipe_menu {
    width: 16%;
    float: left;
    padding: 2% 0;
}

#edit_recipe_menu li {
    float: right;
    margin-left: 8%;
}

#edit_recipe_menu li:last-of-type {
    margin-left: 0;
}

#edit_recipe_menu a {
    width: 24px;
    height: 24px;
    display: block;
}

#print {
    background: url("../images/print.png") no-repeat;
}

#star {
    background: url("../images/star.png") no-repeat;
}

#edit {
    background: url("../images/edit.png") no-repeat;
}

#recipe_header .recipe_title, #recipe_content {
    float: right;
}

#recipe_header input[type="text"], #recipe_content {
    width: 50%;
}

#recipe h4 {
    margin-bottom: 10%;
}

#recipe h3 {
    margin-top: 10%;
    margin-bottom: 10%;
}

#recipe p {
    margin-bottom: 10%;
    font-size: 1vw;
}

#recipe li {
    font-size: 1vw;
    line-height: 150%;
}

#recipe input[type="file"] {
    float: left;
    margin-top: 3%;
    text-align: left;
    direction: ltr;
}

#recipe-page footer {
    margin-left: 2%;
}

/* end of recipe single page */

/* search results page */

main#searchResults{
    width: 72.2%;
    margin-left: 0;
    margin-right: 1.8%;
}

#sortBy {
    margin-bottom: 3%;
}

#sortBy span {
    font-size: 1.1vw;
    color: rgb(96,96,96);
    margin-left: 1%;
}

#results .thumbs {
    margin-bottom: 5%;
}

#results .thumbs li {
    margin-left: 2.5%;
}

#results .thumbs img {
    opacity: 1;
}

#results .thumbs h4{
    color: #000;
}

#results .thumbs picture {
    opacity: 1;
}

#searchResults footer {
    margin-left: 2%;
}

/* end of search results page */


/* media queries */

@media (min-width: 780px ) {

    main {
        width: 71.2%;
        float: left;
        position: relative;
        background: #fff;
        margin-left: 1.8%;
    }

    #tools {
        width: 24.3%;
        margin-right: 1.2%;
        float: right;
    }
}

@media (max-width: 999px) {

    header {
        height: 82px;
    }

    main {
        width: 100%;
        float: none;
        position: static;
    }

    h3 {
        font-size: 3.3vw;
    }

    #logo {
        background: url('../images/tasteLogo_small.png') no-repeat right top;
    }

    #searchBox {
        display: none;
    }

    #gallery, #mainNav {
        display: none;
    }

    #feed {
        width: 100%;
    }

    #topWriters {
        display: none;
    }

    #weeklyRecipe {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: none;
    }

    #weeklyRecipe h2 {
        font-size: 3.2vw;
    }

    #weeklyRecipe #content p, h4 {
        font-size: 3vw;
    }

    #weeklyRecipe picture {
        width: 50%;
    }

    #weeklyRecipe img {
        width: 100%;
    }

    #weeklyRecipe section {
        width: 47%;
    }

    #tools {
        float: none;
        width: 100%;
    }

    #tools h3 {
        width: 90%;
    }

    #tools h3:after {
        width: 0.8em;
        height: 0.8em;
        top: 40%;
        left: 6%;
    }

    #addBtn {
        position: fixed;
        bottom: 0;
        background: rgba(255, 255, 255, 0);
        margin: 0;
        text-align: right;
        z-index: 1;
    }

    #addBtn span {
        display: none;
    }

    #addBtn svg {
        width: 13vw;
        height: 13vw;
        vertical-align: middle;
    }

    #searchMenu input[type="text"] {
        font-size: 3vw;
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    footer ul {
        padding-right: 2%;
    }

    footer a {
        font-size: 1.6vw;
    }

    #copyright {
        font-size: 1.7vw;
    }

    main#searchResults {
        width: 100%;
    }

    #searchResults .thumbs {
        width: 80%;
        margin: auto;
    }

    #searchResults #breadcrumbs,  #searchResults #sortBy{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    #searchResults #tools, #recipe-page #tools {
        display: none;
    }


}

@media (max-width: 640px) {

    #feed section {
        float: none;
        background: #fff;
    }

    #weeklyRecipe {
        width: 100%;
        background: #fff;
    }

    #weeklyRecipe picture {
        float: none;
    }

    #weeklyRecipe section {
        width: 100%;
    }

    #weeklyRecipe h2 {
        font-size: 7vw;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    #weeklyRecipe #content p, h4 {
        font-size: 4vw;
        margin: 0;
    }

    #searchMenu {
        margin: 0;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}